In [1]:
import pygsheets
import os
import pandas as pd
import numpy as np
from spotipy.oauth2 import SpotifyClientCredentials
from spotipy import Spotify
from tqdm import tqdm
import seaborn as sns
import json

In [2]:
gs_client = pygsheets.authorize(service_file=os.environ["GS_CRED_PATH"])

In [3]:
sh = gs_client.open('moving_data')
worksheet = sh.sheet1

In [4]:
worksheet

In [5]:
df = worksheet.get_as_df()

In [6]:
df.head()

,url,author,comment_id,upvotes,spotify_id,song_match,artist_match,post_id
0,NaN,thunderstorm-nigg,fi72l72,326,561F1zqRwGPCTMRsLsXVtL,Time in bottle,Jim Croce,f6qlck
1,NaN,hockeyxfight,fi78pa1,2976,6mFkJmJqdDVQ1REhVfGgd1,Wish You Were Here,Pink Floyd,f6qlck
2,NaN,Zyffrin,fi6laxj,8598,0QZ5yyl6B6utIWkxeBDxQN,The Night We Met,Lord Huron,f6qlck
3,NaN,Talstone,fi6hjh2,2043,0MNNKSUU9OOQ8DSGWduw79,Mystery of Love,Sufjan Stevens,f6qlck
4,NaN,_THATSALOTADAMAGE_,fi78ygl,1201,0GgN4MhR5GKn5IcKN0e0rG,Cancer,My Chemical Romance,f6qlck

In [7]:
len(df)

8552

In [9]:
len(df["spotify_id"].uniqueque())

3655

In [15]:
type(df.iloc[0]["url"])

float

In [20]:
(df.iloc[0]["url"])

nan

In [19]:
df[df["url"] != df.iloc[0]["url"]]

,url,author,comment_id,upvotes,spotify_id,song_match,artist_match,post_id
0,NaN,thunderstorm-nigg,fi72l72,326,561F1zqRwGPCTMRsLsXVtL,Time in bottle,Jim Croce,f6qlck
1,NaN,hockeyxfight,fi78pa1,2976,6mFkJmJqdDVQ1REhVfGgd1,Wish You Were Here,Pink Floyd,f6qlck
2,NaN,Zyffrin,fi6laxj,8598,0QZ5yyl6B6utIWkxeBDxQN,The Night We Met,Lord Huron,f6qlck
3,NaN,Talstone,fi6hjh2,2043,0MNNKSUU9OOQ8DSGWduw79,Mystery of Love,Sufjan Stevens,f6qlck
4,NaN,_THATSALOTADAMAGE_,fi78ygl,1201,0GgN4MhR5GKn5IcKN0e0rG,Cancer,My Chemical Romance,f6qlck
...,...,...,...,...,...,...,...,...
8547,https://www.youtube.com/watch?v=8AOgjFqWP7I,WaBom,co4xr00,3,Video Unavailable,NaN,NaN,2u2q0a
8548,https://www.youtube.com/watch?v=py0vUPISxLY,WaBom,co4xr00,3,Video Unavailable,NaN,NaN,2u2q0a
8549,https://www.youtube.com/watch?v=59cZzSmWwbE,MrFCT,co5bxsn,1,Video Unavailable,NaN,NaN,2u2q0a
8550,https://www.youtube.com/watch?v=vmd1qMN5Yo0,dinosaur_chunks,co5ekkd,1,7mMlbJlXXo2mRtQ4R9sIzD,NaN,NaN,2u2q0a
8551,https://www.youtube.com/watch?v=XWTL5pKYofY,dinosaur_chunks,co5ekkd,1,7mMlbJlXXo2mRtQ4R9sIzD,NaN,NaN,2u2q0a

In [24]:
len(df["url"].unique())

1669

In [28]:
df[["song_match", "artist_match"]]

              song_match         artist_match
0         Time in bottle            Jim Croce
1     Wish You Were Here           Pink Floyd
2       The Night We Met           Lord Huron
3        Mystery of Love       Sufjan Stevens
4                 Cancer  My Chemical Romance
...                  ...                  ...
8547                 NaN                  NaN
8548                 NaN                  NaN
8549                 NaN                  NaN
8550                 NaN                  NaN
8551                 NaN                  NaN

[8552 rows x 2 columns]

In [30]:
len(list(zip(df.song_match, df.artist_match)))

8552

In [32]:
len(set(list(zip(df.song_match, df.artist_match))))

6486